﻿@page "/counter"

<h1><center>Calculadora</center></h1>

<table align="center">
    <tr>
        <td style="text-align:center">Primer numero: </td>
        <td style="text-align:center"><input style="text-align:center" type="number" @bind="PrimerNum" /></td>
    </tr>

    <tr>
        <td style="text-align:center">Segundo numero: </td>
        <td style="text-align:center"><input style="text-align:center" type="number" @bind="SegundoNum" /></td>
    </tr>
    <tr>
        <td style="text-align:center">Resultado: </td>
        <td style="text-align:center"><input style="text-align:center" type="number" @bind="Resultado" /></td>
    </tr>
</table>

<table aling="center">
    <tr>
        <td>
            <button class="btn btn-primary" @onclick="suma">Suma</button>
            <button class="btn btn-primary" @onclick="resta">Resta</button>
            <button class="btn btn-primary" @onclick="multiplicacion">Multiplicacion</button>
            <button class="btn btn-primary" @onclick="division">Division</button>

        </td>
    </tr>
</table>

@code {
    double PrimerNum;
    double SegundoNum;
    double Resultado;
    private void suma()
    {
        Resultado = PrimerNum + SegundoNum;
    }
    private void resta()
    {
        Resultado = PrimerNum - SegundoNum;
    }
    private void multiplicacion()
    {
        Resultado = PrimerNum * SegundoNum;
    }
    private void division()
    {
        Resultado = PrimerNum / SegundoNum;
    }
}
