﻿@page "/fetchdata"
@using Microsoft.WindowsAzure.Storage;
@using Microsoft.WindowsAzure.Storage.Table;
@using System.Threading.Tasks;
@using System.Linq;
@using System.Collections.Generic;


<center><img src="/imagenes/Daneli.jpg" width="400px"></center>


<h1>Gestion de Desarrollo de Software</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Semestre</th>
            <th>Saldo</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Alumnos c in ListaAlumnos)
        {
            <tr>
                <td><img src="@c.imagen" width="100px" height="100px" /></td>
                <td>@c.RowKey</td>
                <td>@c.Carrera</td>
                <td>@c.Semestre</td>
                <td>@c.Saldo</td>
            </tr>
        }
    </tbody>

</table>


@code {

    List<Alumnos> ListaAlumnos = new List<Alumnos>();
    List<ElementosdelaTabla> ElementosTabla = new List<ElementosdelaTabla>();
    string elementoimagen;
    protected override async Task OnInitializedAsync()
    {
        var CuentadeAlmacenamiento = CloudStorageAccount.Parse("DefaultEndpointsProtocol=https;AccountName=danelireyes;AccountKey=f/erjBfcReYACyddwlEWV+BxHrP2PgUKalKlKs2p1bJRzJREM0LgjtLuCVitNiIrU66vU08IwrHDJsBNwSm+7A==;EndpointSuffix=core.windows.net");
        var TablaNoSQL = CuentadeAlmacenamiento.CreateCloudTableClient();
        var Tabla = TablaNoSQL.GetTableReference("Alumnos");
        var Consulta = new TableQuery<Alumnos>();
        TableContinuationToken token = null;
        try
        {
            var Datos = await Tabla.ExecuteQuerySegmentedAsync<Alumnos>
                (Consulta, token, null, null);
            ListaAlumnos.AddRange(Datos.Results);
            int iNombre = 0;
            int iSemestre = 0;
            int iimagen = 0;
            int iCarrera = 0;
            int iSaldo = 0;

            ElementosTabla = ListaAlumnos.Select(r => new ElementosdelaTabla()
            {
                Nombre = ListaAlumnos.ElementAt(iNombre++).RowKey,
                Semestre = ListaAlumnos.ElementAt(iSemestre++).Semestre,
                Carrera = ListaAlumnos.ElementAt(iCarrera++).Carrera,
                Saldo = ListaAlumnos.ElementAt(iSaldo++).Saldo,
                imagen = ListaAlumnos.ElementAt(iimagen++).imagen,
            }).ToList();
        }
        catch (Exception)
        {

            throw;
        }
    }


    public class Alumnos : TableEntity
    {
        public Alumnos(string Categoria, string Nombre)
        {
            PartitionKey = Categoria;
            RowKey = Nombre;
        }
        public Alumnos() { }
        public string Carrera { get; set; }
        public string imagen { get; set; }
        public double Saldo { get; set; }
        public string Semestre { get; set; }
    }
    public class ElementosdelaTabla
    {
        public string Nombre { get; set; }
        public string Carrera { get; set; }
        public string imagen { get; set; }
        public double Saldo { get; set; }
        public string Semestre { get; set; }
    }

}
